* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    touch-action: manipulation;
    /* fix 300ms */
}

@font-face {
    //   font-family: AvertaStd-Bold; /*这里是说明调用来的字体名字*/   
    //   src: url(‘../fonts/AvertaStd-Bold.ttf’); /*这里是字体文件路径*/   
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.homepage {
    position: relative
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 1120px) {
        width: 70%;
    }
    @media screen and (min-width:992px) {
        width: 80%;
    }
    @media screen and (min-width:300px) {
        width: 90%;
    }
}

.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.divider {
    border-bottom: 1px solid #e5e5e5;
}


/* swiper.js customization */

.swiper-pagination {
    .swiper-pagination-bullet {
        opacity: 1;
        background: #ddd;
        width: 10px;
        height: 10px;
        margin: 0 8px;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #00d664;
        transition: 0.6s;
    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 70px;
    height: 35px;
    /*    i {
        transition: 0.3s;
    }
    &:hover i {
        color: #00d664;
    }
*/
}

.swiper-button-next {
    background: center url(../img/btn-next-grey.png);
    background-size: cover;
    &:hover {
        background: center url(../img/btn-next-green.png);
        background-size: cover;
    }
}

.swiper-button-prev {
    background: center url(../img/btn-prev-grey.png);
    background-size: cover;
    &:hover {
        background: center url(../img/btn-prev-green.png);
        background-size: cover;
    }
}


/* titles-underline */

.title-bottom-line {
    &::after {
        position: relative;
        display: inherit;
        bottom: 0;
        top: 15px;
        border: 1px solid #00d664;
        width: 35px;
        left: 50%;
        content: "";
        transform: translateX(-50%)
    }
}


/* navbar animate slideup&slidedown*/

.homepage-navbar.animated.headroom--top {
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    transition: margin 0.3s;
}

.headroom--not-top {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-84px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-84px)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-84px)
    }
    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-84px)
    }
    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
    position: fixed;
    z-index: 100;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-84px)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }
    100% {
        -moz-transform: translateY(-84px)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }
    100% {
        -o-transform: translateY(-84px)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-84px)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
    position: fixed;
    z-index: 100;
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s;
}


/* nav-bar*/

.navbar--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.homepage-navbar {
    width: 100%;
    background: white;
    @media (min-width: 900) {
        .navbar-wrraper {
            transition: padding 0.3s;
        }
    }
    .navbar-wrraper {
        display: flex;
        justify-content: space-between;
        align-items: center; // margin-top: 10px;
        padding: 15px;
    }
    a {
        text-decoration: none;
        &:visited {
            text-decoration: none;
            color: black;
        }
    }
    /* nav-bar logo*/
    .navbar-logo {
        display: flex;
        justify-content: flex-start;
        a {
            display: block;
            background: no-repeat url(../img/netguru_logo.svg) center;
            background-size: 120px;
            height: 34px;
            width: 160px;
        }
        padding: 10px 0;
        .navbar-logo-btn {
            cursor: pointer;
            display: none;
            border-radius: 3px;
            width: 34px;
            height: 34px;
            >img {
                margin: 2px;
                width: 30px;
                height: 30px;
            }
            &:hover {
                background-color: #ddd;
                transition: 0.3s ease;
            }
        }
    }
    @media (max-width:900px) {
        .navbar-wrraper {
            flex-direction: column;
            padding: 0;
        }
        .navbar-logo {
            width: 100%;
            .navbar-logo-btn {
                display: block;
                margin-left: auto;
                margin-right: 10px;
            }
        }
    }
    /*.navbar-menu  */
    .navbar-menu {
        font-weight: 700; // font-family: AvertaStd-Bold;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            width: 70%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                text-align: center;
                white-space: nowrap;
                transition: 0.3s;
                display: flex;
                align-items: center;
                a {
                    display: block;
                    padding: 0 10px;
                    text-transform: capitalize;
                    transition: 0.3s all;
                }
                &:hover a {
                    color: #00d664;
                }
            }
        }
        .navbar-menu-btn {
            a {
                border: 2px solid #00d664;
                padding: 10px 40px;
                font-weight: 700;
                user-select: none;
                white-space: nowrap;
                border-radius: 50px;
                color: #00d664;
                &:hover {
                    transition: 0.3s ease-out;
                    color: white;
                    background: #00d664;
                }
            }
        }
        @media (max-width:900px) {
            width: auto;
            ul {
                flex-direction: column;
                width: auto;
                overflow: hidden;
                -webkit-overflow-scrolling: touch;
                li {
                    margin: 10px 0;
                }
            }
            .navbar-menu-btn {
                margin-top: 20px;
                margin-bottom: 60px;
            }
            &.collapsing {
                display: block;
                height: 0;
                overflow: hidden;
                transition: all 0.35s ease;
            }
            &.collapse.in {
                display: block;
            }
            &.collapse {
                display: none
            }
        }
    }
}


/* homepage-header */

.homepage-header {
    background: url(../img/contact_map.png) no-repeat bottom center;
    background-size: 700px;
    position: relative;
    margin-top: 20px;
    /* .swiper */
    .header-swiper-container {
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
            // display: flex; // align-items: center;
            text-align: center; // flex-shrink: 0;
            .swiper-slide {
                // flex-shrink: 0;
                .title {
                    font-size: 14px;
                    color: #999;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                .content {
                    font-size: 40px;
                    font-weight: bold;
                    margin: {
                        top: 40px;
                        bottom: 40px;
                        left: auto;
                        right: auto;
                    }
                    max-width: 580px;
                    @media screen and (max-width:580px) {
                        max-width: 420px;
                    }
                    @media screen and (max-width:440px) {
                        max-width: 320px;
                    }
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            @media screen and (max-width: 700px) {
                display: none;
            }
        }
    }
    /* button */
    .header-button {
        margin-top: -40px;
        height: 300px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center; // font-family: AvertaStd-Bold;
        font-weight: 700;
        a {
            cursor: pointer;
            font-size: 20px;
            padding: 15px 60px;
            user-select: none;
            white-space: nowrap;
            border-radius: 50px;
            color: white;
            background: #00d664;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .2);
            &:hover {
                transition: 0.3s ease-out;
                background: #00A34C;
            }
        }
    }
}


/* homepage-services  */

.homepage-services {
    width: auto;
    overflow: hidden;
    background: #00d664;
    margin: 0 auto;
    .container {
        width: 100%;
    }
    .services-title {
        text-align: center;
        font-size: 14px;
        color: white;
        margin: 70px 0;
        &::after {
            border: white 1px solid;
            opacity: 0.6;
        }
    }
    @media (max-width:767px) {
        .services-title {
            margin: 40px;
        }
    }
    .services-items-wrapper {
        width: 100%;
        margin-bottom: 40px;
        cursor: pointer;
        .services-items {
            font-weight: 700;
            text-align: center;
            position: relative;
            padding: 30px 30px 30px;
            img {
                width: 57px;
                height: 57px;
                margin: 32px 0;
            }
            .services-items-title {
                font-size: 18px;
                color: white;
                margin-bottom: 120px;
                transition: 0.3s ease;
            }
            .service-items-links {
                display: none;
                position: absolute;
                top: 186px;
                left: 0;
                width: 100%;
                font-size: 14px;
                @media (min-width: 768px) {
                    display: block;
                }
                a {
                    cursor: pointer;
                    transition: 0.3s ease;
                    opacity: 0;
                    line-height: 1.6em;
                    color: #999;
                    text-decoration: none;
                    display: block;
                    &:hover {
                        color: #00d664;
                    }
                }
            }
            @media (min-width: 768px) {
                float: left;
                width: 33.3333%;
                min-height: 30px;
                transition: 0.4s ease;
                &:hover {
                    background: white;
                    border-radius: 4px;
                    box-shadow: 0 36px 64px 0 rgba(0, 0, 0, .1);
                    .services-items-title {
                        color: black;
                    }
                    .service-items-links {
                        a {
                            opacity: 1;
                        }
                    }
                    &::after {
                        opacity: 1;
                        transition: 0.3 ease;
                    }
                }
                &::after {
                    content: "";
                    width: 40px;
                    height: 20px;
                    display: block;
                    background: center url(../img/btn-next-grey.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 0 auto;
                    opacity: 0;
                }
            }
            @media (max-width:767px) {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 30px 30px;
                img {
                    margin: 0;
                    margin-right: 20px;
                    width: 40px;
                    height: 40px;
                }
                .services-items-title {
                    margin: 0;
                }
                &::after {
                    content: "";
                    width: 40px;
                    height: 20px;
                    display: block;
                    background: center url(../img/btn-next-white.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-left: auto;
                    opacity: 1;
                }
            }
        }
    }
}


/* homepage-success-stories */

.homepage-success-stories {
    background: #FAFAFA;
    overflow: hidden;
    h1 {
        margin: 70px 0;
        text-align: center;
        color: #999;
        font-size: 14px;
    }
    .stories-swiper-container {
        overflow: hidden;
        position: relative;
        margin-bottom: 40px;
        .swiper-pagination {
            width: 50%;
            @media (max-width: 990px) {
                bottom: auto;
                left: auto;
                width: 100%;
                padding-top: 70%;
                top: 0;
            }
        }
        .swiper-slide {
            display: flex;
            @media (max-width: 990px) {
                flex-direction: column;
                align-items: center;
            }
            .stories-img {
                flex-grow: 1;
                width: 50%;
                @media (max-width: 990px) {
                    width:80%;
                }
            }
            img {
                width: 100%;
            }
        }
        .stories-description {
            flex-grow: 1;
            width: 50%;
            @media (max-width: 990px) {
                width:80%;
            }
            .stories-title {
                margin: 45px 0 35px;
                font-size: 30px;
                color: #000;
                font-weight: 700;
            }
            .stories-text {
                margin-bottom: 40px;
                 :nth-child(1) {
                    font-size: 16px;
                    line-height: 30px;
                    color: #666;
                }
                 :nth-child(2) {
                    a {
                        color: #00d664;
                        &:hover {
                            color: #00A34C;
                        }
                        &:visited {
                            color: #00d664;
                        }
                    }
                }
            }
            .stories-stats {
                display: flex;
                justify-content: space-around;
                text-align: center;
                @media (max-width: 480px) {
                    flex-direction: column;
                }
                .stories-stat {
                    padding: 0 15px;
                    width: 50%;
                    @media (max-width: 480px) {
                        width:100%;
                    }
                    &:first-child {
                        border-right: 1px solid #e5e5e5;
                        @media (max-width: 480px) {
                            border:none;
                            margin-bottom: 20px;
                        }
                    }
                     :nth-child(1) {
                        margin-bottom: 0;
                        font-size: 48px;
                        line-height: 53px;
                        color: #000;
                        position: relative;
                        &::after {
                            content: "";
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                            background: url(../img/btn-next-green.png) center;
                            background-size: 40px;
                            position: absolute;
                            top: 8px;
                            transform: rotate(-90deg);
                            margin-left: 16px;
                        }
                    }
                     :nth-child(2) {
                        margin-bottom: 0;
                        font-size: 18px;
                        color: #515151;
                    }
                }
            }
        }
    }
}


/* homepage-statics */

.homepage-statics {
    .statics-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .statics-item {
            text-align: center;
            width: 25%;
            @media (min-width: 768px) {
                &:nth-child(-n+3) {
                    .statics-item-text {
                        border-right: 1px solid #e5e5e5;
                    }
                }
            }
            img {
                height: 40px;
                margin-bottom: 20px;
            }
            .statics-item-text {
                display: flex;
                flex-direction: column;
                 :nth-child(1) {
                    margin-bottom: 5px;
                    font-size: 48px;
                    line-height: 48px;
                    color: #00d664;
                }
                 :nth-child(2) {
                    font-size: 18px;
                    line-height: 18px;
                    color: #333;
                }
            }
        }
    }
    @media (max-width:768px) {
        .statics-wrapper {
            flex-direction: column;
        }
        .statics-item {
            text-align: center;
            &:nth-child(n+2) {
                margin-top: 40px;
            }
            img {
                height: 40px;
                margin-bottom: 25px;
            }
        }
    }
}


/* homepage-testimonials */

.homepage-testimonials {
    background: #fafafa;
}


/* homepage-client-logo */

.homepage-client-logo {}


/* homepage-resource */

.homepage-resource {
    background: #fafafa;
    height: 600px;
}


/* homepage-team */

.homepage-team {
    height: 300px;
    border: solid yellow 1px;
}


/* homepage-contact-form */

.homepage-contact-form {
    background: #00d664;
}


/* homepage-footer */

.homepage-footer {
    background: #fafafa;
    height: 600px;
    border: solid red 1px;
}